.gradle/9.2.1/checksums/checksums.lock
.gradle/9.2.1/checksums/md5-checksums.bin
.gradle/9.2.1/checksums/sha1-checksums.bin
.gradle/9.2.1/executionHistory/executionHistory.bin
.gradle/9.2.1/executionHistory/executionHistory.lock
.gradle/9.2.1/expanded/expanded.lock
.gradle/9.2.1/fileChanges/last-build.bin
.gradle/9.2.1/fileHashes/fileHashes.bin
.gradle/9.2.1/fileHashes/fileHashes.lock
.gradle/9.2.1/fileHashes/resourceHashesCache.bin
.gradle/9.2.1/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
.gradle/loom-cache/launch.cfg
.gradle/loom-cache/log4j.xml
.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-6dd721cd7d/1.21.11-loom.mappings.1_21_11.layered+hash.2198-v2/minecraft-merged-6dd721cd7d-1.21.11-loom.mappings.1_21_11.layered+hash.2198-v2.jar
.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-6dd721cd7d/1.21.11-loom.mappings.1_21_11.layered+hash.2198-v2/minecraft-merged-6dd721cd7d-1.21.11-loom.mappings.1_21_11.layered+hash.2198-v2.jar.backup
.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-merged-6dd721cd7d/1.21.11-loom.mappings.1_21_11.layered+hash.2198-v2/minecraft-merged-6dd721cd7d-1.21.11-loom.mappings.1_21_11.layered+hash.2198-v2.pom
.gradle/loom-cache/remapClasspath.txt
.gradle/loom-cache/remapped_mods/remapped/net/fabricmc/fabric-api/fabric-api-4abd26ae/0.141.4+1.21.11/fabric-api-4abd26ae-0.141.4+1.21.11-sources.jar
.gradle/loom-cache/remapped_mods/remapped/net/fabricmc/fabric-api/fabric-api-4abd26ae/0.141.4+1.21.11/fabric-api-4abd26ae-0.141.4+1.21.11.jar
.gradle/loom-cache/remapped_mods/remapped/net/fabricmc/fabric-api/fabric-api-4abd26ae/0.141.4+1.21.11/fabric-api-4abd26ae-0.141.4+1.21.11.pom
.gradle/loom-cache/remapped_mods/remapped/net/fabricmc/fabric-api/fabric-api-base-4abd26ae/1.0.5+4ebb5c083e/fabric-api-base-4abd26ae-1.0.5+4ebb5c083e-sources.jar
.gradle/loom-cache/remapped_mods/remapped/net/fabricmc/fabric-api/fabric-api-base-4abd26ae/1.0.5+4ebb5c083e/fabric-api-base-4abd26ae-1.0.5+4ebb5c083e.jar
.gradle/loom-cache/remapped_mods/remapped/net/fabricmc/fabric-api/fabric-api-base-4abd26ae/1.0.5+4ebb5c083e/fabric-api-base-4abd26ae-1.0.5+4ebb5c083e.pom
.gradle/loom-cache/remapped_mods/remapped/net/fabricmc/fabric-api/fabric-api-lookup-api-v1-4abd26ae/1.6.114+20dc27073e/fabric-api-lookup-api-v1-4abd26ae-1.6.114+20dc27073e-sources.jar
.gradle/loom-cache/remapped_mods/remapped/net/fabricmc/fabric-api/fabric-api-lookup-api-v1-4abd26ae/1.6.114+20dc27073e/fabric-api-lookup-api-v1-4abd26ae-1.6.114+20dc27073e.jar
/.gradle
/.idea
/build
